.menu_head_title{
    text-align: center;
}

body{
    text-align: center;
    font-family: "American Typewriter",serif;
    font-size: large;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

img {
    max-width: 100px;
    height: auto;
}

.create_order{
    background-color: gainsboro;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 19%;
    padding-top: 10%;
}

.submit_button{
    background-color: limegreen;
    color: white;
    border-radius: 5px;
    border-width: 0;
    font-size: 15pt;
    padding: 5px;
    margin-right: 5px;
}

.cancel_button{
    background-color: tomato;
    color: white;
    border-radius: 5px;
    border-width: 0;
    font-size: 15pt;
    padding: 5px;
    margin-left: 5px;
}