<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalina restaurant</title>
  <link rel="stylesheet" href="/css/catalina_style.css">
</head>
<body>
<div class="wrapper">
  <header>
    <h1 class="main_label">CATALINA RESTAURANT</h1>
  </header>
  <main>
    <a href="catalina_restaurant/menu"><img src="/images/menu.png" class="menu_img"></a>
      <br><br><br><br>
      <button onclick="window.location.href='/catalina_restaurant/orders/admins'" class="buttons">
          log as admin
      </button>
  </main>
  <footer>
    practice 9 test web page
  </footer>
</div>

</body>
</html>