<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/catalina_style.css">
    <title>Order Success</title>
</head>
<body>
<div class="wrapper">
    <header>
        <h1 class="main_label">Thank you for your order!</h1>
    </header>
    <main>
        <p>Your order has been successfully placed.</p>
        <button onclick="window.location.href='/catalina_restaurant/menu'" class="buttons">
            Back to Menu
        </button>
    </main>
    <footer>
        practice 9 test web page
    </footer>
</div>

</body>
</html>
